<div class="w-100 d-flex justify-content-between">
    <div class="d-flex text-center flex-column">
        <p class="purple-text">4</p>
        <small>Friends</small>
    </div>
    <div class="d-flex text-center flex-column">
        <p class="purple-text">2</p>
        <small>Groups</small>
    </div>
</div>
<div class="w-100">
    <h6 class="text-center bold mt-1 mb-1">My photos</h6>
    <hr class="w-25" style="background-color: purple;height: 1px;">
    <div class="d-flex w-100 justify-content-between">
        <img src="../../../../assets/food1.jpg" alt="" srcset="" class="gallery_image">
        <img src="../../../../assets/food2.jpg" alt="" srcset="" class="gallery_image">
        <img src="../../../../assets/food3.jpg" alt="" srcset="" class="gallery_image">

    </div>
</div>