<h6 class="text-left bold mt-1 mb-1">Recent activity</h6>
<hr class="w-25 left mt-0" style="background-color: purple;height: 1px;">

<ul class="stepper stepper-vertical mg-0 p-0 w-100">

    <li class="active">
        <a href="#!">
            <span class="circle" style="width: 0.75rem;height: 0.75rem;"></span>
            <span class="label mg-0">
        <p>First step <small style="font-weight: 300;">has posted an
            update </small></p>

        <small class="label left" style="font-weight: 100;
              text-align: left;">9 months, 2 weeks ago</small>
      </span>

        </a>
    </li>

</ul>